---

import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';



const blogEntries = await getCollection('myself');
---

<Layout>
    <h1>
        Blog post
    </h1>
    <section>
        <ul>
            {
                blogEntries.map( ( entry ) => (
                    <li>
                        <img src={entry.data.cover} alt={entry.data.title} />
                        <a href={`/blog/${entry.slug}/`}>
                            {
                                entry.data.title
                            }
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>


