---

import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';



const blogEntries = await getCollection('blog');
---

<Layout>
    <h2 class="title-blog">
        Blog post
    </h2>
    <section>
        <ul class="blog-entries">
            {
                blogEntries.map( ( entry ) => (
                    <li class="blog-entry">
                        <a href={`/blog/${entry.slug}/`}>
                            <img src={entry.data.cover} alt={entry.data.coverAlt} />
                            <div class="blog-entry__content">
                                <h3>{ entry.data.title }</h3>
                                <h4>{ entry.data.description }</h4>
                                <h5>{ entry.data.date }</h5>
                                <div class="blog-entry__content__tags">
                                    {
                                    entry.data.tags.map( ( tag : string ) => (
                                        <h6>{ tag }</h6>
                                    ))
                                }
                                </div>
                            </div>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<style>
    .title-blog{
        text-align: center;
    }
    .blog-entry{
        margin: 1rem;
        padding: 1rem;
        border: 2px solid #e2e2e2;
        border-radius: 1rem;
        list-style: none;
    }
    .blog-entry a{
        display: flex;
        text-decoration: none;
        color: black;
    }
    .blog-entry img{
        width: 20dvw;
        max-height: 50%;
        object-fit: cover;
        border-radius: 1rem;
    }

    .blog-entry__content{
        margin: 1rem;
    }
    .blog-entry__content h3{
        margin: 0;
        font-weight: bold;
    }

    .blog-entry__content h4{
        margin: 0;
        font-size: 1rem;
        color: #666;
    }

    .blog-entry__content h5{
        margin: 0;
        font-size: 0.8rem;
        color: #999;
    }

    .blog-entry__content__tags{
        display: flex;
        flex-wrap: wrap;
    }

    .blog-entry__content__tags h6{
        margin: 0.5rem 0.5rem 0.5rem 0;
        padding: 0.5rem;
        font-size: 0.8rem;
        background-color: #f2f2f2;
        border-radius: 0.5rem;
    }
    
</style>


