---
import { Picture } from 'astro:assets';
import { SITE_TITLE } from '../const';
import logo from '../assets/images/logo_compress.png';
---

<header>
    <nav role="navigation" class="navbar">
            <h2>
                <a href="/">
                    <Picture src={ logo } alt="Un fantasma con ojos tiernos"/>
                    { SITE_TITLE }
                    <Picture src={ logo } alt="Un fantasma con ojos tiernos"/>
                </a>
            </h2>
        <div class="navbar__nav-links">
            <a href="/blog">Blog</a>
        </div>
        <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg class="navbar__burger-menu" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 18L20 18" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
        <path d="M4 12L20 12" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
        <path d="M4 6L20 6" stroke="currentcolor" stroke-width="2" stroke-linecap="round"/>
        </svg>
    </nav>
    <section class="navbar__burger-menu--nav-links" id="burgerMenuLinks">
        <a href="/blog">Blog</a>
    </section>
</header>

<style>
    header {
        background-color: #333;
        color: white;
        padding: 1rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar h2 {
        margin: 0;
        font-size: 1.7rem;
    }

    .navbar a {
        color: white;
        text-decoration: none;
    }
    .navbar img{
        width: 3rem;
        height: auto;
        vertical-align: middle;
    }
    .navbar__burger-menu{
        display: none;
    }
    .navbar__burger-menu{
        color: #e2e2e2;
    }
    .navbar__burger-menu {
        width: 2rem;
        height: auto;
    }
    .navbar__burger-menu--nav-links{
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 0 1rem;
        transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
    .navbar__burger-menu--nav-links a{
        opacity: 0;
        visibility: hidden;
        padding: 0 1rem;
        text-decoration: none;
        color: white;
        margin: 0.5rem 0;
        transition: none; 
    }
    h2 {
        font-weight: bold;
        letter-spacing: 0.15rem;
    }

    .navbar__burger-menu--nav-links.show {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding: 1rem;
    }

    .navbar__burger-menu--nav-links.show a {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    @media only screen and (max-width: 490px){
        .navbar h2 {
            font-size: 1.5rem;
        }

        .navbar a {
            font-size: 1rem;
        }
        .navbar img{
            width: 1.7rem;

        }

        .navbar__nav-links {
            display: none;
        }

        .navbar {
            justify-content: space-between;
        }
        .navbar__burger-menu {
            display: block;
        }
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const burgerMenu = document.querySelector('.navbar__burger-menu');
        const burgerMenuLinks = document.getElementById('burgerMenuLinks');
        const mediaQuery = window.matchMedia('(max-width: 490px)');

        if (burgerMenu && burgerMenuLinks) {
            burgerMenu.addEventListener('click', () => {
                burgerMenuLinks.classList.toggle('show');
            });

            const closeMenu = () => {
                burgerMenuLinks.classList.remove('show');
            };

            mediaQuery.addEventListener('change', (e) => {
                if (!e.matches) { 
                    closeMenu();
                }
            });
        }
    });
</script>